<p id="notice"></p>
 <div class="row">

  <div class="px-8 mx-auto">
   <p>
    ようこそ、AgriCircleへ!<br>
    このサイトは、就農者や農業に興味がある方向けのコミュニティサイトになります。<br>
   </p>
  </div>
 </div>



 <div class="row">
  <div class="px-8 mx-auto">
   <%= link_to 'ゲストログイン',new_post_path, method: :get %>
  </div>
 </div>

 </div>